/* #home{
  opacity: 0;
  transition: 1s;
} */

body {
  background-image: url("");
  background-size: 100% auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-color: black;
  margin: 0;
  font: normal normal normal 1.6rem/1.4em helvetica-w01-light,
    helvetica-w02-light, sans-serif;
}

img {
  width: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  font: normal normal normal 1.6rem/1.4em helvetica-w01-light,
    helvetica-w02-light, sans-serif;
  color: white;
}

.artist-name {
  /* font-size: 5rem; */
  font-size: 5vw;
  line-height: 5.2vw;
  /* margin-bottom: -2.8rem; */
}

.artist-job {
  margin-left: 0.5rem;
  /* font-size: 2.2rem; */
  font-size: 2.2vw;
  line-height: 2.3vw;
  /* letter-spacing: 0.8rem; */
  letter-spacing: 0.8vw;
}

.name-title {
  position: absolute;
  top: 40%;
  right: 10%;
  color: white;
}

.impressum {
  position: fixed;
  color: white;
  bottom: 0;
  left: 0;
  font-size: 20px;
}
/* ######################################### */

.portfolio-title {
  text-align: left;
  padding-left: 8%;
  margin: 7% 0 2.5% 0;
}

.portfolio-title h1 {
  font-size: 4rem;
}

.card-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin: 0 8%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.grid-item {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.grid-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 0.3s ease-in-out;

  opacity: 0.5;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.grid-item:hover .image img {
  transform: scale(1.1);
  opacity: 1;
}

.grid-item:hover .middle {
  opacity: 0;
}

.middle {
  transition: 0.5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text {
  color: white;
  font-size: 30px;
  padding: 16px 32px;
}

.about-container {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  text-align: left;
  /* margin-bottom: 10rem; */
}

.about-text {
  max-width: 40rem;
  padding: 0 8% 8% 8%;
}

.about-text p {
  color: white;
  font: normal normal normal 1.6rem/1.4em helvetica-w01-light,
    helvetica-w02-light, sans-serif;
  font-size: 1rem;
}

.about-me {
  font-size: 4rem;
  margin-right: auto;
}

.about-line {
  margin-bottom: -1rem;
}

.about-picture {
  max-width: 30rem;
  padding: 3.5% 8% 1.5% 4.5%;
}

#aknowledgements {
  margin-bottom: 9rem;
}

.aknowledgements-title {
  font-size: 4rem;
  /* font-size: 10vw; ON MOBILE*/
  margin-top: 0;
  text-align: left;
  padding-left: 8%;
}
.aknowledgements-container {
  display: flex;
  margin-bottom: 3rem;
}

.aknowledgements-container p {
  color: white;
}

.aknowledgements-text {
  max-width: 40rem;
  min-width: 30%;
  padding: 0rem 8% 5rem 8%;
  position: relative;
  margin-right: 8%;
}

.aknowledgements-line {
  padding-top: 0;
  /* margin-top: 20%; */
  font-size: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.aknowledgements-picture {
  max-width: 40rem;

  margin: 0 8% 0 0;
}

#left-picture {
  margin-left: 8%;
  margin-right: -4%;
}

.contact-container {
  margin-top: 12%;
  color: white;
  margin-left: 8%;
  margin-bottom: 20%;
}

.contact-container h1 {
  /* font-size: 3.5rem; */
  text-align: left;
  font-size: 3.5vw;
}

#contact-title,
#contact-info {
  text-align: left;
  font-size: 1.3rem;
  margin: 3rem 0;
}

#contact-title p {
  text-align: left;
  margin: -0.8rem 0;
}

#contact-info p {
  text-align: left;
  margin: -0.8rem 0;
}

@media screen and (max-width: 900px) {
  .card-holder {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }

  .aknowledgements-title {
    font-size: 7vw;
  }

  .aknowledgements-line {
    line-height: 19px;
    transform: translate(0%, -65%);
  }
}

@media screen and (max-width: 750px) {
  .card-holder {
    grid-gap: 1rem;
    margin: 0 3%;
  }
  .about-container {
    display: block;
    margin-top: 5rem;
  }
  .about-picture {
    padding: 0;
    margin: 0 8%;
    width: auto;
    max-width: 30rem;
  }

  .name-title {
    top: 17%;
  }

  .portfolio-title {
    text-align: center;
    padding-left: 0;
  }

  .about-me {
    text-align: center;
  }

  #aknowledgements {
    margin-bottom: 3rem;
  }

  .aknowledgements-title {
    text-align: center;
    padding: 0;
    margin-bottom: 2rem;
  }
}
